<h1>Hello, World!</h1>
<h2>This is bios date : {{ansible_bios_date}} </h2>
<h3>This is the hostname : {{ansible_hostname}} </h3>
<h4>This is the OS : {{ansible_distribution}} </h4>
<h5>This is the OS version : {{ansible_distribution_version}} </h5>
<h6>This is the OS release : {{ansible_distribution_release}} </h6>
<h7>This is os family : {{ansible_os_family}} </h7>